@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
.droid-arabic-kufi{font-family: 'Droid Arabic Kufi', serif;}

.App {
  font-family: 'Droid Arabic Kufi', serif;
  text-align: center;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color:lightslategray;
}

html, body, #root{

  background-color:lightslategray;
}
body {
  font-size: 1.2rem;
  font-family: 'Droid Arabic Kufi', serif;
  background: #307eb3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-color:lightslategray;
  background-size: 20pc;
  
   
}

.result {
  margin-top: 20px;
  margin-bottom: 10%;
}

.options {
  cursor: pointer;
  border: 4px solid white;
  padding: 3px;


}

.selected {
  background: linear-gradient(to right, #dcd73d, #d0ac1c) !important;
}

ul {
  list-style-type: none;
  padding-top: 4px;

}
